:root {
  --light-font: #cceb8d;
  --light-font-hover: #7ba429;
  --main-bg: #db2a02;
  --dark-font: #08182b;
  --dark-font-hover: #1d5697;
  --off-white: rgba(255, 255, 255, 0.8);

  --lightest: #b1d4e0;
  --light: #2e8bc0;
  --dark: #145da0;
  --darkest: #0c2d48;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* "Ovo","Poppins" */
  font-family: "Poppins", sans-serif;
  background: var(--lightest);
  /*color:var(--darkest);
  background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");  padding: 0; */
  /* min-height:300vh; */
  padding: 0;
  margin: 0;
  /* background: #000; */
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  /* font-family: "Ovo", serif; */
}

.row {
  width: 100%;
  margin: 0;
}

.logo {
  display: inline;
}

.logo-start {
  display: inline;
  background-color: transparent;
  color: var(--lightest);
}

.logo-end {
  display: inline;
  background-color: var(--lightest);
  color: var(--darkest);
}

nav {
  color: var(--lightest);
}

.navbar {
  background-color: var(--darkest);
  color: var(--lightest);
  margin: auto 0;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  font-size: 25px;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 30px;
}

.navbar-nav {
  margin: 0 auto;
}

.navbar a {
  color: var(--lightest);
  text-decoration: none;
}

.navbar a:hover {
  color: var(--light);
  text-decoration: none;
}

.nav-link {
  color: var(--darkest) !important;
  text-decoration: none;
}

.nav-link:hover {
  background-color: var(--darkest) !important;
  color: var(--lightest) !important;
  text-decoration: none;
}

.navbar button {
  background-color: var(--darkest) !important;
  color: var(--lightest) !important;
  font-size: 20px;
  font-weight: 600;
  float: left;
}

.navbar button:hover {
  color: var(--darkest) !important;
  background-color: var(--lightest) !important;
  font-size: 20px;
  font-weight: 600;
  float: left;
}

.nav-item {
  padding: 5px 15px;
}

.custom-dropdown {
  font-family: "Poppins", sans-serif;
  color: var(--lightest);
  text-decoration: none;
}

.navbar-toggler {
  background-color: var(--dark-font-hover);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.logo-image {
  max-width: 65%;
  margin: auto;
}

.login-component {
  float: right;
}

.login-panel {
  float: right;
}

.logout-btn {
  background-color: var(--lightest);
  color: var(--darkest);
}

.logout-btn:hover {
  background-color: var(--dark);
  color: var(--lightest);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  background: linear-gradient(rgba(14, 62, 151, 0.5) 50%, black);
}

.full {
  height: 100vh;
}

.inset {
  position: absolute;
  inset: 0;
}

.white {
  color: white;
}

.gray {
  color: #446;
}

/*  new hero  */
.hero-tabbed-container {
  /* max-height: 85vh;
  overflow: hidden; */
  background-color: var(--darkest);
  color: var(--lightest);
}

.hero-tab-menu {
  padding: 0;
  margin: auto 0;
}

.hero-tab-image {
  padding: 0;
  margin: 0;
  position: relative;
}

.hero-tab-image img {
  max-width: 750px;
  object-fit: cover;
}

.tab-text {
  background-color: var(--dark);
  color: var(--lightest);
  padding: 20px 10px;
  line-height: 1.5;
  margin: 0;
  width: 100%;
  border: 30px var(--darkest) solid;
}

.tab-text:hover {
  background-color: var(--lightest);
  color: var(--darkest) !important;
  cursor: pointer;
}

.active {
  background-color: var(--lightest);
  color: var(--darkest) !important;
}

.active-tab {
  background-color: var(--lightest);
  color: var(--darkest);
}

.detail-tab {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 10px 0;
  text-align: left;
}

.detail-tab h1 {
  padding: 10px 0;
}

.detail-tab p {
  padding: 10px 0 0;
}

.btn-cta {
  background-color: var(--lightest);
  color: var(--darkest);
}

.btn-cta:hover {
  background-color: var(--dark);
  color: var(--lightest);
}

/* old hero  */

.hero-container-full {
  height: 200vw;
}

.hero-container-full img {
  max-height: 100%;
  width: 100%;
  margin-top: -75px;
}

.hero-container {
  width: 100vw;
  height: 325px;
  background-color: var(--darkest);
}

.hero-container img {
  height: 500px;
  max-width: 100%;
  margin-top: -75px;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--dark-font);
  margin: 30px 0 30px 20px;
  height: auto;
  width: 100%;
  box-shadow: 0 2px 5px var(--off-white);
  text-align: left;
}

.contact-card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px 0 15px;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--dark-font);
  /* margin: 30px 0 30px 20px; */
  height: 90%;
  width: 90%;
  box-shadow: 0 2px 5px var(--off-white);
  text-align: left;
}

.contact-btn {
  background-color: var(--darkest);
  color: var(--lightest);
}

.contact-btn:hover {
  background-color: var(--dark);
  color: var(--lightest);
}

.top {
  border-radius: 25px 25px 0 0;
  height: 60px;
  width: 100%;
  background-color: rgba(255, 2555, 255, 0.02);
  padding: 10px 135px 10px 10px;
}

.name {
  font-size: 1.6em;
}

.circle-img {
  position: absolute;
  top: 25px;
  right: 10px;
  border-radius: 50%;
  border: 4px solid var(--off-white);
  width: 150px;
  height: 150px;
}

.bottom {
  padding: 10px 140px 0 10px;
  /* margin-top: 100px; */
}

.info {
  /* margin: 20px 0; */
  color: var(--dark-font);
}

/*
.container {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 250px;
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}

 .heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.heading h1 {
  padding: 0.2rem 1.2rem;
  background-color: #fdcb6e;
  font-size: 1.5rem;
} */

/* li {
  font-family: "Architects Daughter", cursive;
  font-size: 25px;;
  text-align: left;
  position: relative;
  padding: 0.5rem;
} */

.strike-text {
  text-decoration: line-through;
  color: #00b609;
}

.contact-form button {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form input,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.row-container {
  color: var(--darkest);
  background-color: var(--off-white);
  border-radius: 25px;
  margin: 50px auto;
  padding: 20px 0;
  text-align: left;
  font-weight: 500;
  max-width: 90%;
}

.details-section {
  background-color: var(--darkest);
}

.details-title {
  color: var(--lightest);
}

.heading-text {
  text-align: center;
}

.left-col {
  padding: 20px 50px;
  text-align: left;
}

.right-col {
  text-align: left;
  padding: 20px 50px;
}

.two-col {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
  width: 90%;
}

.two-col:hover {
  color: var(--dark);
  cursor: pointer;
}

.about-content,
.contact-page {
  text-align: left;
  margin: 10px auto;
}

.btn-about {
  background-color: var(--darkest);
  color: var(--lightest);
}

.btn-about:hover {
  background-color: var(--light);
  color: var(--darkest);
}

.quick-link-container {
  /* width: 100%; */
  margin: 100px 0;
}

.quick-link {
  overflow: hidden;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.quick-link img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.quick-link h1 {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  top: -215px;
  left: 0;
  height: 100px;
  position: relative;
}

.quick-link:hover,
.quick-link h1:hover {
  background-color: var(--dark);
}

.quick-link a {
  width: auto;
  height: auto;
  text-decoration: none;
}

.details-section {
  color: var(--lightest);
  font-style: italic;
  margin: 0 auto 25px;
  padding: 15px 15px 0;
  border-radius: 15px;
  width: 90%;
}

.details-section:hover {
  color: var(--light);
  cursor: pointer;
}

.details-title {
  margin-bottom: 35px;
  text-decoration: underline;
}

.details-title:hover {
  color: var(--light);
  cursor: pointer;
}

.detailed-info {
  display: inline;
  color: var(--lightest);
}

.hidden-detailed-info {
  display: none;
}

.map {
  height: 400px;
  max-width: 750px;
  margin: 10px 0;
}

.footer {
  text-align: center;
  margin: 25px 0;
  /* position: fixed;
  left: 0;
  bottom: 0; */
  width: 100%;
}

.social-icons {
  margin-top: 25px;
  text-align: center;
}

.social-icon {
  margin: 10px 25px;
  font-size: 35px;
  color: var(--darkest);
}

.social-icon:hover {
  font-size: 40px;
  color: var(--dark);
}

.title-banner {
  background-color: var(--darkest);
  color: var(--lightest);
  padding: 15px 0;
  width: 100%;
}

.title-text {
  text-align: center;
}
.guideLinks {
  font-size: large;
  text-align: center;
  width: auto;
  margin: 50px auto 0;
  padding: 5px 15px;
  background-color: #eee;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5%;
}

.guideLinks a {
  color: black;
}

ul.table-of-contents {
  list-style: decimal;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 5px 20px;
  text-align: left;
}

ul.table-of-contents li {
  font-weight: bold;
  padding: 15px;
}

ul.table-of-contents li ul {
  padding-left: 20px;
}
/* .devGuides {
  
}

.devGuides .header h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 15px;
}
.devGuides h4 {
  
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 25px;
} */
.devContent {
  padding: 10px 12%;
  text-align: left !important;
}
.devGuides p {
  margin-bottom: 10px;
}

/* .devGuides .codeSection {

} */

.devGuides code {
  padding: 2px 4px;
  background-color: #eee;
  border-radius: 4px;
  color: #333;

  display: table;
  width: auto;
  margin: 0 auto;
}

.compare-grid {
  width: 100%;
}

.compare-grid .row {
  padding: 10px 0;
}

.compare-grid img {
  width: 50%;
}
.compare-grid .img-left,
.img-right {
  text-align: center;
}

/* On screens that are 992px or less */
@media screen and (max-width: 992px) {
  .navbar {
    font-size: 17px;
    padding: 10px 10px;
  }

  .navbar-brand {
    /* text-align: left;
    font-size: 20px;
    position: relative;
    left: -20px; */
    max-width: 75%;
  }

  .logo-image {
    width: 100%;
    /* max-width: 40%; */
  }

  .navbar-nav {
    margin: 0 auto;
    text-align: right;
  }

  .nav-item {
    margin: 10px 0;
  }

  .navbar-toggler {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  }

  button:focus:not(:focus-visible) {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  }

  .dropdown-menu {
    padding: 40px 15px 10px;
  }

  .detail-tab h1 {
    margin-left: 10px;
  }

  .detail-tab p {
    margin-left: 10px;
  }

  .detail-tab .btn {
    margin: 10px;
  }

  .tab-text {
    padding: 10px 10px;
    line-height: 1;
    margin: 0;
    width: 100%;
    border: 5px var(--darkest) solid;
  }

  .card {
    padding: 0;
    margin: 20px auto;
  }

  .name {
    font-size: 1.4em;

    /* margin: 10px 10px 0; */
  }

  .circle-img {
    border-radius: 50%;
    border: 4px solid var(--off-white);
    width: 100px;
    height: 100px;
  }

  .info {
    /* margin: 20px 0; */
    color: var(--dark-font);
  }

  .two-col {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    width: 100%;
  }

  .heading-text {
    text-align: left;
  }

  .left-col {
    font-size: 15px;
    padding: 5px 10px;
    text-align: left;
  }

  .right-col {
    font-size: 15px;
    text-align: left;
    padding: 5px 10px;
  }

  .details-title {
    font-size: 16px;
  }

  .detailed-info {
    font-size: 14px;
  }

  .hero-tab-image img {
    max-width: 100vw;
  }

  .map {
    max-height: 300px;
  }
}

/* On screens that are 600px or less */
@media screen and (max-width: 600px) {
  .navbar-brand {
    /* text-align: left;
    font-size: 20px;
    position: relative;
    left: -20px; */
    max-width: 60%;
  }
}
